.wrap {
  position: absolute;
  height: 400px;
  width: 600px;
  top: 50%;
  left: 50%;
  margin: -200px -300px;
  overflow: hidden;
}
.wrap ul {
  height: 100%;
  width: 500%;
  -webkit-animation: slider1 17s ease-out infinite;
}
.wrap ul li {
  height: 100%;
  width: 20%;
  float: left;
}

//创建5种动画策略
@-webkit-keyframes slider1 {
  0% {margin-left: 0;}
  20% {margin-left: -600px;}
  40% {margin-left: -1200px;}
  60% {margin-left: -1800px;}
  80% {margin-left: -2400px;}
  100% {margin-left: 0;}
}

@-webkit-keyframes slider2 {
  0% {margin-left: 600px;}
  20% {margin-left: 0;}
  40% {margin-left: -600px;}
  60% {margin-left: -1200px;}
  80% {margin-left: -1800px;}
  100% {margin-left: 600px;}
}

@-webkit-keyframes slider3 {
  0% {margin-left: 1200px;}
  20% {margin-left: 600px;}
  40% {margin-left: 0;}
  60% {margin-left: -600px;}
  80% {margin-left: -1200px;}
  100% {margin-left: 1200px;}
}

@-webkit-keyframes slider4 {
  0% {margin-left: 1800px;}
  20% {margin-left: 1200px;}
  40% {margin-left: 600px;}
  60% {margin-left: 0;}
  80% {margin-left: -600px;}
  100% {margin-left: 1800px;}
}
@-webkit-keyframes slider5 {
  0% {margin-left: 2400px;}
  20% {margin-left: 1800px;}
  40% {margin-left: 1200px;}
  60% {margin-left: 600px;}
  80% {margin-left: 0;}
  100% {margin-left: 2400px;}
}


#l01:checked ~ .wrap ul {
  -webkit-animation-name:slide1;
}
